.container .content .option {
			color: #C2C9D1;
			font-weight: 400;
			font-size: 20px;
			line-height: 28px;
			width: 100%;
		}
		.container .content .title{
			font-style: normal;
			font-weight: 700;
			font-size: 48px;
			line-height: 120%;
			text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		}
		.container .content .cards {
			display: flex;
			justify-content: space-between;
			margin-top: 50px;
		}
		.container .content .cards .card {
			position: relative;
			background-color: white;
			border-radius: 24px;
			width: 400px;
		}
		.container .content .cards .card:first-child {
			margin-right: 50px;
		}
		.container .content .cards .card .logo {
			display: flex;
			flex-direction: column;
			width: 90%;
		}
		.container .content .cards .card .logo img {
			height: 230px;
		}
		.container .content .cards .card .logo hr {
			width: 100%;	
			margin-left: 0;
			margin-top: 0;
		}

		.container .content .cards .card .card-action {
			padding: 15px 25px;
		}

		.container .content .cards .card .card-action .desc {
			display: flex;
			flex-direction: column;
		}

		.container .content .cards .card .card-action .desc .error {
			color: #F03738;
			font-size: 14px;
			font-weight: 500;
			line-height: 28px;
		}

		.container .content .cards .card .card-action .desc .success {
			color: #3E66FB;
			font-size: 14px;
			font-weight: 500;
			line-height: 28px;
		}

		.container .content .cards .card .card-action .desc .info {
			color: rgba(0, 0, 0, 0.29);
			font-style: normal;
			font-weight: 400;
			font-size: 12px;
			line-height: 20px;
		}

		.container .content .cards .card .card-action .btn-check {
			border: none;
			border-top-left-radius: 20px;
			border-bottom-right-radius: 20px;
			position: absolute;
			width: 64px;
			height: 64px;
			bottom: 0;
			right: 0;
		}

		.container .content .cards .card .card-action .btn-check.error {
			background: linear-gradient(0deg, rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.75)), #F03738;
		}
		.container .content .cards .card .card-action .btn-check.success {
			background: #3E66FB;
			box-shadow: 0px 13px 31.85px rgba(62, 102, 251, 0.44);
		}

		.container .footer {
			display: flex;
			flex-direction: row-reverse;
		}
		.container .footer .btn-next {
			align-items: center;
			background-color: #3E66FB;
			border-radius: 100px;
			color: white;
			display: flex;
			font-size: 16px;
			line-height: 24px;
			margin-top: 60px;
			padding: 16px;
			width: fit-content;
		}
		.container .footer .btn-next img {
			margin-left: 30px;
		}